@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";



@theme {
  /* 🎨 Dominant (60%) */
  --color-background: hsl(39 77% 97%);
  --color-foam: hsl(34, 32%, 91%);
  --color-beige: hsl(35, 55%, 96%);
  /* ☕ Secondary (30%) */
  --color-coffeeLight: hsl(30 40% 94%);
  --color-coffeeMedium: hsl(30 30% 85%);
  --color-softCoffee: hsl(30 20% 88%);
  --color-grayCoffee: hsl(25 10% 40%);
  --color-blackCoffee: hsl(27, 15%, 12%);
  /* 🍫 Accent (10%) */
  --color-espresso: hsl(25 45% 25%);
  --color-coffeeDark: hsl(25 35% 45%);
  --color-accentHome: hsl(16 75% 48%);
  --font-playfair: Playfair Display, serif;
  --font-inter: Inter, sans-serif;
}

body {
  @apply bg-background;
}

.custom-container {
  @apply w-full max-w-[1280px] mx-auto px-4 sm:px-6 lg:px-8;
}

.hover-utility {
  @apply duration-300 transition-all ease-in-out
}